<footer>
           <div class="row">
                    <div class="col-sm-6">
                        <p class="copyright">© Copyright 2018 <a href="http://wwww.technextit.com" target="_blank">CSI Nsit</a></p>
                    </div>
                    <div class="col-sm-6">
                        <p class="designed">Designed and Developed by <a href="http://themewagon.com" target="_blank">Rohit, Anshul and Parikansh</a></p>
                    </div>
                
            </div>
            </footer>
</body>
</html>